
* {
  color: rgb(223, 119, 33);
}
h1 {
  font-family: comic sans-serif;
  font-size: 45px;
  color: rgb(0, 201, 255);
  text-align: center;
}

.look {
  padding: 2%;
  margin: 35px;
  background-color: rgba(113, 185, 62, .8);
}
#less {
  padding: 2%;
  margin: 35px;
  font-size: 25px;
  background-color: rgba(113, 185, 62, .4);
}
.srsly {
  font-size: 50px;
  text-align: right;
  background-color: white;
}
#mini {
  font-size: 40px;
  padding: .5%;
  text-align: left;
}
#down {
  vertical-align: -35px;
}
